!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='device-width,initial-scale=1,maximum-scale=1')
    style(type='text/css')
      body,ul,li {
        padding:0;
        margin: 0;
      }
      body {
        font-family: sans-serif;
      }
      ul {
        list-style: none;
      }

      .found {
        background-color: #AAAAFF;
      }

      #search-range {
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(255,0 ,0 ,.5);
        border: 2px solid red;
      }
  body
    h1 FastList test page

    div(id='toolbar')
      label(for='range-from') From:        
      input(id='range-from', type='number', size=5)
      label(for='range-to') To:
      input(id='range-to', type='number', size=5)
      button(id='query') Find elements
      span(id='report')

    ul(id='fast-list')
      each item, index in items
        li <strong>#{index+1}</strong>: #{item}

    footer
      h3 Test page footer

    div(id='search-range')

    script(src='fastlist.js')
    script
      var win = window,
          doc = win.document,
          FastList = win.OK.FastList;

      doc.addEventListener('DOMContentLoaded', function() {      
        var list = new FastList(doc.getElementById('fast-list')),
            index = list._index; //temporarily
            inputFrom = doc.getElementById('range-from'),
            inputTo = doc.getElementById('range-to'),
            queryButton = doc.getElementById('query'),
            searchElement = doc.getElementById('search-range'),
            reportElement = doc.getElementById('report');

        queryButton.addEventListener('click', function(e) {
          var prev = doc.querySelectorAll('.found'),
              prevLen = prev.length;
          for (var i = 0; i < prevLen; i++) {
            prev[i].className = '';
          }

          searchElement.style.top = inputFrom.value + 'px';
          searchElement.style.height = (inputTo.value - inputFrom.value) + 'px';

          reportElement.innerHTML = '';

          var found = [];

          var start = new Date().getTime();

          index.query(inputFrom.value, inputTo.value, function(node) {
            found.push(node.value.el);
          });


          var end = new Date().getTime();

          reportElement.innerHTML = 'Time taken: ' + (end - start) + 'ms';

          var foundLen = found.length;
          for (var i = 0; i < foundLen; i++) {          
            var el = found[i];
            el.className += 'found';
          }

        }, false);

      }, false);      